body {
  position: relative;
  background-color: #FAFAFA;

}

a{
	color: #FFFFFF;
}

#parcours {padding-top:70px; padding-bottom: 45px;height:auto;color: white; background-color: #1E88E5;}
#formation {padding-top:70px; padding-bottom: 45px;height:auto;color: black; background-color:#99D3DF;}
#expériences {padding-top:70px; padding-bottom: 45px; height:auto ;color: black; background-color:#4ABDAC;}

#competences{padding-top:70px; padding-bottom: 45px;height:auto;color: white; background-color:#1E88E5;}


#anexes {padding-top:70px; padding-bottom: 60px;height:auto;color: black; background-color:#99D3DF;}
#contact {padding-top:70px; padding-bottom: 200px;height:auto;color: black; background-color: #4ABDAC;}

